.env

backend/src/utils/__pycache__
backend/src/routers/__pycache__
backend/src/models/__pycache__
backend/src/core/__pycache__
backend/src/config/__pycache__
backend/src/auth/__pycache__
backend/src/__pycache__

backend/src/logs/diet_app.log


backend/data/fitness.duckdb

.diet_env
.front_env
.nicegui

key.py

main.py